h1 {
    color: blue
}

.products {
    display:flex;
    flex-direction: column;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product-info button {
    margin-bottom: 40px;
}

.product-img {
    object-fit: cover;
    width: 25%;
}